.dropdownInnerButton {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 15px;
	margin-left: 10px;
}

.dropdownInnerIcon {
	height: 16px;
	width: 16px;
	margin-right: 4px;
	color: rgb(155, 170, 200);
}

.dropdownInnerIconButton {
	color: rgb(155, 170, 200);
	font-size: 14px;
	font-weight: 500;
	height: 16px;
	letter-spacing: 0px;
}
